
<div ng-cloak="">

	<ul class="breadcrumb breadcrumb-top">

		<li ui-sref="home">Accueil</li>
		<li class="active"><a ui-sref="exercise-details"> Consulter
				EPI </a></li>
	</ul>

	<div class="block-section clearfix">
		<div class="form-group form-actions">
			<div class="col-xs-12 ">

				<button class="btn btn-sm btn-default " type="button" ui-sref="home">
					<i class="fa fa-arrow-left"></i> <span translate="entity.action.back">Preview</span>
				</button>
				
				
				<button has-authority="ROLE_TEACHER"
					ng-if="ExerciseDetailsController.exercise.status == 'IN_PREPARATION'"
					class="btn btn-sm btn-success " type="button"
					ng-click="ExerciseDetailsController.validate()">
					<i class="fa fa-paper-plane"></i> <span> Publier</span>
				</button>

				<button
					ng-if="ExerciseDetailsController.exercise.status == 'IN_PREPARATION'"
					class="btn btn-sm btn-primary " type="button"
					ui-sref="exercise-edit({id:ExerciseDetailsController.exercise.id})">
					<i class="fa fa-pencil "></i> <span translate="entity.action.edit">Edit</span>
				</button>
				<button has-authority="ROLE_TEACHER"
					ng-if="ExerciseDetailsController.exercise.status != 'VALIDATED'"
					class="btn btn-sm btn-warning " type="button"
					ng-click="ExerciseDetailsController.remove()">
					<i class="fa fa-trash"></i> <span translate="entity.action.delete">Delete</span>
				</button>
				
				<button 
					ng-if="ExerciseDetailsController.exercise.status == 'VALIDATED'  && ! ExerciseDetailsController.exercise.markedForRead"
					class="btn btn-sm btn-primary " type="button"
					ng-click="ExerciseDetailsController.setMarkforReadToTrue()">
					<i class="fa fa-plus"></i> <span >Ajouter à la Liste de lecture</span>
				</button>
				
			</div>
		</div>
	</div>

	<div class="widget">
		<div class="widget-advanced">
			<div class="widget-header text-center" ng-class="ExerciseDetailsController.topicColor">

				<div class="row">
					<div class="col-sm-3">
						<address class="text-left">
							<br>
							<div
								ng-repeat="value in ExerciseDetailsController.exercise.teachers">
								<i class="fa fa-graduation-cap"></i> {{value | userName}} <br>
							</div>
						</address>
					</div>
					<div class="col-sm-6">
						<h3 class="widget-content-light">
							{{ExerciseDetailsController.exercise.subject}} <br> <small>{{ExerciseDetailsController.exercise.topic.name}}</small>
							<br> <small> <span
								ng-if="ExerciseDetailsController.exercise.status == 'IN_PREPARATION'"
								class="label label-danger ng-scope"
								translate="exercise.progressionStatus.inProgress">En
									cours de réalisation</span> <span
								ng-if="ExerciseDetailsController.exercise.status == 'WAITING_FOR_VALIDATION'"
								class="label label-warning ng-scope"
								translate="exercise.progressionStatus.waiting">Wainting</span> <span
								ng-if="ExerciseDetailsController.exercise.status == 'VALIDATED'"
								class="label label-success ng-scope"
								translate="exercise.progressionStatus.vaildated">Validated</span>

							</small>
						</h3>

					</div>
					<div class="col-sm-3">
						<address class="text-right">
							<br>
							<div
								ng-repeat="value in ExerciseDetailsController.exercise.students">
								<i class="fa fa-user"></i> {{value | userName}} <br>
							</div>
							<i class="fa fa-calendar"></i>
							{{ExerciseDetailsController.exercise.createdDate | getDate
							|date:'dd/MM/yyyy'}}

						</address>
					</div>
				</div>

			</div>
			<div class="widget-main widget-main-with-border ">
				<a class="widget-image-container animation-fadeIn"
					href="javascript:void(0)"> <span
					class="widget-icon themed-background"
					ng-bind="ExerciseDetailsController.exercise.group.name"></span>
				</a>
				<div ng-bind-html="ExerciseDetailsController.exercise.rawContent"</div>
			</div>
		</div>
	</div>


</div>


<div class="block-section clearfix">
	<div class="row">
		<div class="col-md-12">
			<div class="block full">
				<div class="block-title">
					<h2>
						<span>Fichiers</span>
					</h2>
				</div>
				<table
					class="table table-striped table-bordered table-vcenter remove-margin-bottom">
					<thead>
						<tr>
							<th class="text-center"><span translate="exercise.file.name">Name</span></th>
							<th class="text-center"><span
								translate="exercise.file.creationDate">Creation Date</span></th>
							<th class="text-center"></th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="file in ExerciseDetailsController.exercise.uploadedFiles as displayedfiles">
							<td class="text-center">{{file.name}}</td>
							<td class="text-center">{{file.createdDate | getDate |
								date:'dd/MM/yyyy:HH:mm'}}</td>
							<td class="text-center">
								<div class="btn-group btn-group-xs">
									<a class="btn btn-default" href="javascript:void(0)"
										uib-tooltip="{{'entity.action.download' | translate}}"><i
										class="fa fa-download"
										ng-click="ExerciseDetailsController.downloadFile(file.id)"></i></a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>