<form name="editForm" role="form" novalidate ng-submit="save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myUserLabel"
			translate="class-management.home.createOrEditLabel">Create or
			edit a Class</h4>
	</div>
	<div class="modal-body">

		<uib-accordion close-others="oneAtATime">
		<div uib-accordion-group class="panel-default"
			heading="Classe"
			is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">

			<div class="form-group">
				<label translate="global.field.id">ID</label> <input type="text"
					class="form-control" name="id" ng-model="class.id" readonly>
			</div>

			<div class="form-group">
				<label class="control-label" translate="class-management.name">Name</label>
				<input type="number" class="form-control" name="name"
					ng-model="class.name" ng-maxlength="2">

				<div ng-show="editForm.name.$invalid">
					<p class="help-block" ng-show="editForm.name.$error.required"
						translate="entity.validation.required">This field is required.
					</p>
					<p class="help-block" ng-show="editForm.name.$error.maxlength"
						translate="entity.validation.maxlength" translate-value-max="2">
						This field cannot be longer than 2 characters.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" translate="class-management.level">Level</label>

				<select ng-model="class.level" name="level"
					data-placeholder="Sélectionnez un niveau"
					ng-options="o.id as o.name for o in levels"
					class="form-control select-chosen">
				</select>

			</div>
			<div class="form-group">
				<label translate="class-management.schoolYear">SchoolYear</label> <select
					name="schoolYear" ng-model="class.schoolYear"
					data-placeholder="Sélectionnez une année scolaire"
					ng-options="o.id as o.name  for o in schoolYears"
					class="form-control select-chosen">
				</select>
.			</div>


		</div>
		<div uib-accordion-group class="panel-default"
			heading="Etudiants" ng-repeat="group in groups">
			Etudiants</div>
		<div uib-accordion-group class="panel-default"
			heading="Etudiants">
			<duallist template-url="scripts/components/widget/duallist.tmp.html"
				duallist-option="options" leftscope="students"
				rightscope="rightValue" addscope="addValue"
				removescope="removeValue"></duallist>
		</div>
		</uib-accordion>
		
		{{classes}}


	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-sm btn-default"
			data-dismiss="modal" ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || isSaving"
			class="btn btn-sm btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.save">Save</span>
		</button>
	</div>
</form>
